body {
  margin: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url("4kgalaxy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ff0000;
  color: black;
  
}

.backblock {
  padding: 1rem;
  background-image: linear-gradient(to bottom right, #ececec, #ffffff);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.whitetextbox
{
  text-align: center;
  width: 100%;
  height: 50%;
  background-color: white;
  outline-color: #ff0000;
}
